# Copyright 2016 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# For the schema of this file and documentation, see RefsCfg message in
# https://luci-config.appspot.com/schemas/projects:refs.cfg

refs {
  name: "refs/heads/master"
  config_path: "infra/config"
}
